<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Water Quality Analysis</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>


</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Water Quality Analysis</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="#">Quality trends</a></li>
            <li class="active"><a href="analysis">Analysis</a></li>
            <li><a href="cluster">cluster</a></li>
            <li><a href="#">Our Own Index</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <br><br>
    <h1>CCME Index</h1>
    <select id="year" onchange="getResults()">
  <option value="2016">2016</option>
  <option value="2015">2015</option>
  <option value="2014">2014</option>
  <option value="2013">2013</option>
        <option value="2012">2012</option>
        <option value="2011">2011</option>
        <option value="2010">2010</option>
</select>
    <div id="map"  style="width:100%;height: 700px;">
    </div>
</div>
<script>
var selectedYear = $('#year').val();
console.log(selectedYear);
// -- Initialize map(dark property)
var mapboxAccessToken = "pk.eyJ1IjoiZG9sbHlndXB0YSIsImEiOiJjaW13Z21paG0wMzY0d2JsdTNvZWpxNmVuIn0.yOZTAE65CgxzaZ6PZw9bRA";
var map = L.map('map').setView([37.829306, -122.071835], 10);

L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + mapboxAccessToken, {
    id: 'mapbox.light'
}).addTo(map);
var markers=[];
var data = {{data|safe}}
var markerLayer;

for(i=0;i<data.length;i++){
if(data[i].year==selectedYear){
   var circle = L.circle([data[i].lat,data[i].long], data[i].ccmeWQI*10, {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5
});
var popup = data[i].ccmeWQI.toString();
circle.bindPopup(popup);
markers.push(circle);
}
}
markerLayer = L.layerGroup(markers);
map.addLayer(markerLayer);

function getResults(){
selectedYear = $('#year').val();
console.log(selectedYear);
map.removeLayer(markerLayer);
markers=[];
console.log(markers.length);
for(i=0;i<data.length;i++){
if(data[i].year==selectedYear){
   var circle2 = L.circle([data[i].lat,data[i].long], data[i].ccmeWQI*10, {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5
});
var popup = data[i].ccmeWQI.toString() + "--" + data[i].year.toString() + "--" + data[i].paramNum.toString();
circle2.bindPopup(popup);
markers.push(circle2);
}
}
markerLayer = L.layerGroup(markers);
map.addLayer(markerLayer);

}






</script>

</body>
</html>