<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spider Diagram</title>

    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script>

        function OnSelectedIndexChange()
        {
            if (document.getElementById('param').value == "chl"){
                location.href="chl_index.html";
            }

            if (document.getElementById('param').value == "do"){
                location.href="do_index.html";
            }

            if (document.getElementById('param').value == "ph"){
                location.href="ph_index.html";
            }

            if (document.getElementById('param').value == "sal"){
                location.href="salinity_index.html";
            }

            if (document.getElementById('param').value == "turb"){
                location.href="turbidity_index.html";
            }

            if (document.getElementById('param').value == "temp"){
                location.href="watertemp_index.html";
            }

            var mydropdown = document.getElementById('param');
            mydropdown.Attributes.Add("onChange", "return OnSelectedIndexChange();")
        }

    </script>
    <script type="text/javascript">
$(function () {

    $('#container').highcharts({

        chart: {
            polar: true,
            type: 'line'
        },

        title: {
            text: 'The Salinity normal range is between 35 ppt or less',
            x: -70
        },

        pane: {
            size: '80%'
        },

        xAxis: {
            categories: ['Station 1', 'Station 2', 'Station 3', 'Station 4',
                    'Station 5', 'Station 6'],
            tickmarkPlacement:  'on',
            lineWidth: 0
        },

        yAxis: {
				
           gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0
        },

        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}ppt</b><br/>'
        },

        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 70,
            layout: 'vertical'
        },

        series: [{
            name: '2011',
            data: [22, 15, 6, 32, 32, 22],
            pointPlacement: 'on'
        },{
            name: '2012',
            data: [32, 10, 8, 35, 30, 25],
            pointPlacement: 'on'
        },{
            name: '2013',
            data: [28, 20, 15, 40, 32, 30],
            pointPlacement: 'on'
        },  {
            name: '2014',
            data: [30, 40, 45, 35, 40, 50],
            pointPlacement: 'on'
        }, {
            name: '2015',
            data: [40, 39, 42, 60, 55, 45],
            pointPlacement: 'on'
        }]

    });
});
		</script>
	</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Water Quality Analysis</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="qualityTrends">Data Portal</a></li>
            <li><a href="analysis">Historical Analysis</a></li>
            <li class="active"><a href="spider">Parameter Analysis</a></li>
        </ul>
    </div>
</nav>
<br><br><br><br>
<div id="container" style="min-width: 400px; max-width: 700px; height: 600px; margin: 0 auto"></div>


<div style="text-align: center;">
    <label for="param">Parameter: </label>
    <select id="param" onChange="OnSelectedIndexChange()" class="selectpicker">
        <option value="chl">Chlorophyll</option>
        <option value="do">Dissolved Oxygen</option>
        <option value="ph">pH</option>
        <option value="sal" selected>Salinity</option>
        <option value="turb">Turbidity</option>
        <option value="temp">Water Temperature</option>
    </select></div>


</body>
</html>