<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Dissolved Oxygen</title>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<style type="text/css">
${demo.css}
		</style>
		<script type="text/javascript">
	function getData()
    {
    var stationName=$('#station').val();
	//make db connection
	$.ajax({
		url : 'ajaxChange',
		type : 'GET',
		data :{
			"station" : stationName,
		},
		dataType: 'json',
		success : function(data) {
		    var obj = JSON.parse(data)
		    param = obj.parameter;
		    index = obj.indexFull;
		    $('#stationSpider').highcharts({

        chart: {
            polar: true,
            type: 'line'
        },

        title: {
            text: stationName,
            x: -70
        },

        pane: {
            size: '80%'
        },

        xAxis: {
            categories:param ,
            tickmarkPlacement: 'on',
            lineWidth: 0
        },

        yAxis: {

           gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0
        },

        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}%</b><br/>'
        },

        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 70,
            layout: 'vertical'
        },

        series: index

    });
		},
		error : function(jqXHR, textStatus, errorThrown) {

			console.log('error here' + textStatus + "" + errorThrown);
		}
	});
}

$(function () {

    $('#stationSpider').highcharts({

        chart: {
            polar: true,
            type: 'line'
        },

        title: {
            text: 'Gallinas Creek',
            x: -70
        },

        pane: {
            size: '80%'
        },

        xAxis: {
            categories: {{parameter | safe}},
            tickmarkPlacement: 'on',
            lineWidth: 0
        },

        yAxis: {
				
           gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0
        },

        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}%</b><br/>'
        },

        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 70,
            layout: 'vertical'
        },

        series: {{indexFull | safe}}

    });
});
$(function () {

    $('#spiderQuality').highcharts({

        chart: {
            polar: true,
            type: 'line'
        },

        title: {
            text: 'Water Quality of Stations',
            x: -70
        },

        pane: {
            size: '80%'
        },

        xAxis: {
            categories: {{stationParam | safe}},
            tickmarkPlacement: 'on',
            lineWidth: 0
        },

        yAxis: {

           gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0
        },

        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
        },

        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 70,
            layout: 'vertical'
        },

        series: {{qualitydata | safe}}
    });
});
		</script>
	</head>
	<body>
 <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
 <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Water Quality Analysis</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="qualityTrends">Data Portal</a></li>
            <li><a href="analysis">Historical Analysis</a></li>
            <li class="active"><a href="spider">Parameter Analysis</a></li>
        </ul>
    </div>
</nav>
<br><br><br><br>
<div class="container">
    <div class="row">
        <div id="spiderQuality" style="min-width: 400px; max-width: 700px; height: 600px; margin: 0 auto"></div>

         <div style="text-align: center;">
        <label for="station">Select Station: </label>
        <select id="station" onChange="getData()" class="selectpicker">
            <option value="chinacamp">chinacamp</option>
            <option value="gallinascreek" selected>gallinascreek</option>
            <option value="tiburon">tiburon</option>
            <option value="carquinez">carquinez</option>
            <option value="fortpoint">fortpoint</option>
            <option value="sfbaypier17a">sfbaypier17a</option>
            <option value="sfbaypier17a">sfbaysanmateobridge</option>
            <option value="sfbaypier17a">sfbaydumbartonbridge</option>
        </select></div>
        <br/><br/>
        <div id="stationSpider" style="min-width: 400px; max-width: 700px; height: 600px; margin: 0 auto"></div>
    </div>
</div>




	</body>
</html>
