<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Water Quality Analysis</title>

    <!--<style>-->
        <!--html, body {-->
            <!--height: 100%;-->
            <!--margin: 0;-->
            <!--padding: 0;-->
        <!--}-->
        <!--#map {-->
            <!--height: 180px;        }-->
    <!--</style>-->

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>

    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <link rel="stylesheet" type="text/css" href="css/tabchartsizefix.css" />



    <script>
        $(function () {
        $('#do').highcharts({
            chart: {
                type: 'line'
            },
            title: {
                text: 'Fractional Saturation of Oxygen in Sea Water'
            },
            subtitle: {
                text: 'Source: cencoos.com'
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'Dissolved Oxygen (%)'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'SF Bay at Pier 17 A',
                data: [88.32, 87.9, 88.5, 89.5, 85.4, 82.5, 85.2, 86.5, 89.3, 84.3, 85.9, 89.6]
//            }, {
//                name: 'Station 2',
//                data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
            }]
        });

            $('#salinity').highcharts({
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Salinity'
                },
                subtitle: {
                    text: 'Source: cencoos.com'
                },
                xAxis: {
                    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                },
                yAxis: {
                    title: {
                        text: 'Salinity (1e-3)'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: 'SF Bay at Pier 17 A',
                    data: [30.32, 33.9, 34.5, 34.5, 35.4, 32.5, 35.2, 36.5, 34.3, 34.3, 35.4, 33.4]
//            }, {
//                name: 'Station 2',
//                data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
                }]
            });

            $('#temperature').highcharts({
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Temperature'
                },
                subtitle: {
                    text: 'Source: cencoos.com'
                },
                xAxis: {
                    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                },
                yAxis: {
                    title: {
                        text: 'Temperature (Degree Fahrenheit)'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: 'SF Bay at Pier 17 A',
                    data: [67.32, 65.9, 64.5, 70.5, 71.4, 72.5, 70.2, 67.5, 67.3, 66.3, 85.9, 65.6]
//            }, {
//                name: 'Station 2',
//                data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
                }]
            });

    });
    </script>


</head>

<div id="map" style="width: 100%;
    height:270px;">





</div>
<script>
    var map = L.map('map').setView([37.77071, -122.34924], 10);


    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([38.0012, -122.46]).addTo(map)
            .bindPopup('China Camp<br> DO, Turbidity, Water Level, pH, Salinity, Water Temperature');
//            .openPopup();

    L.marker([38.0159, -122.5085]).addTo(map)
            .bindPopup('Gallinas Creek<br> DO, Turbidity, Water Level, pH, Salinity, Water Temperature');

    L.marker([37.8915, -122.4467]).addTo(map)
            .bindPopup('Tiburon<br> DO, Turbidity, Chlorophyll, pH, Salinity, Water Temperature');

    L.marker([38.0657, -122.2302]).addTo(map)
            .bindPopup('Carquinez<br> DO, Turbidity, Chlorophyll, pH, Salinity, Water Temperature');

    L.marker([37.80663, -122.4662]).addTo(map)
            .bindPopup('Fort Point<br> Chlorophyll, Salinity, Water Temperature');

    L.marker([37.80305, -122.3973083]).addTo(map)
            .bindPopup('SF Bay at Pier 17 A<br> DO, Salinity, Water Temperature').on('click', onClick);

    L.marker([37.58437876, -122.2508005]).addTo(map)
            .bindPopup('SF Bay at San Mateo Bridge<br> DO, Water Temperature');

    L.marker([37.5041043, -122.1205192]).addTo(map)
            .bindPopup('SF Bay at Dumbarton Bridge<br> DO, Water Temperature');

    function onClick(e) {
        document.getElementById('sfbaypier17').style.display = "block";
    }

</script>
<div id="sfbaypier17" style="display: none;">
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">
    <ul id="tabs" class="nav nav-tabs" role="tablist">
        <li role="presentation" id="do-tab" class="do-tab active">
            <a href="#do-panel" aria-controls="settings" role="tab" data-toggle="tab">Dissolved Oxygen</a>
        </li>
        <li role="presentation" id="salinity-tab" class="salinity-tab">
            <a href="#salinity-panel" aria-controls="settings" role="tab" data-toggle="tab">Salinity</a>
        </li>
        <li role="presentation" id="temperature-tab" class="temperature-tab">
            <a href="#temperature-panel" aria-controls="settings" role="tab" data-toggle="tab">Water Temperature</a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="do-panel" class="do-tab">
            <div class="chart-container">
                <div id="do"></div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="salinity-panel" class="salinity-tab">
            <div class="chart-container">
                <div id="salinity"></div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="temperature-panel" class="temperature-tab">
            <div class="chart-container">
                <div id="temperature"></div>
            </div>
        </div>
    </div>

</div>

</div>

</body>
</html>